div.input-checkboxes {
  width: 100%;
  padding: 5px 0;
  ul {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    li {
      @include flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      label {
        margin: 0 5px 0 0;
      }
      input {
        display: none;
      }
      button.checkbox {
        width: 16px;
        height: 16px;
        background-color: #aaa;
        border-radius: 2px;
        position: relative;
        outline: none;
        cursor: pointer;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
        &:after {
          content: '';
          position: absolute;
          top: 1px;
          right: 1px;
          bottom: 1px;
          left: 1px;
          background-color: #fff;
          background-size: cover;
          border-radius: 1px;
        }
      }
      button.checkbox.checked {
        &:after {
          background-image: url('/img/icon-x-black.svg');
        }
      }
      button.checkbox.unchecked {
        &:after {
          background-image: none;
        }
      }
      button.checkbox:hover {
        background-color: #888;
        &:active {
          box-shadow: none;
          &:after {
            box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
          }
        }
      }
      button.checkbox:focus {
        background-color: $c-blue;
      }
    }
  }
}
div.input-checkboxes.horizontal {
  ul {
    flex-direction: row;
    align-items: center;
    li {
      width: unset;
      &:not(:last-child) {
        margin: 0 10px 0 0;
      }
    }
  }
}
div.input-checkboxes.error {
  ul {
    li {
      button.checkbox {
        background-color: $c-red;
      }
    }
  }
}
