header.main {
  @include flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $h-header;
  width: 100%;
  padding: 0px 20px 0 15px;
  background-color: #eee;
  box-shadow: $shadow-ingot;
  box-sizing: border-box;
  div.header-left,
  div.header-right {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  a.logo {
    cursor: pointer;
    margin: 0 5px 0 0;
    padding: 5px;
    border-radius: 50%;
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
    &:active {
      background-color: rgba(0,0,0,0.2);
    }
    img {
      height: 20px;
    }
  }
  *.header-link {
    color: #333;
    background: none;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 120%;
    &:hover {
      text-decoration: none;
      span:not(.emoji-icon) {
        text-decoration: underline;
      }
    }
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
    div.button-content {
      @include flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      div.spinner {
        margin: 0 0 0 10px;
      }
    }
  }
}
