div.sandbox {
  @include flex;
	width: 100vw;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	@media screen and (max-width: 1400px) {
		flex-direction: row;
		height: auto;
		flex-wrap: wrap;
	}
}

aside.control-panel {
	@include flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 1;
	padding-left: 20px;
	width: 360px;
	max-width: 360px;
	height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  h3 {
    margin: 0 0 8px 0;
    font-size: 14px;
  }
}
aside.control-panel div.control-list {
	@include flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 1;
	max-width: 350px;
}
aside.control-panel.right {
  h3 {
    margin: 0 0 11px 0;
  }
}

.dividerHori {
	height: 1px;
	background-color: #cccccc;
	width: calc(100% - 20px);
	margin-bottom: 10px;
}

.dividerVert {
	width: 1px;
	background-color: #cccccc;
	height: 100%;
	margin-right: 20px;
}

.burnList {
	@include flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: flex-end;
	width: 320px;
	margin: 0 20px 10px 0;
}

.burnHeader {
	@include flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	margin-bottom: 10px;
}

.burnHeaderItem {
	margin-right: 10px;
  &:nth-child(1) {
  	width: 70px;
  }
  &:nth-child(3) {
    width: 30px;
  }
}

.burn {
	@include flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-bottom: 3px;
}
.burn:last-child {
	margin-bottom: 10px;
}

.burnGrey {
	@include flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
	background-color: #eee;
	border-radius: 2px;
	z-index: 2;
	padding: 5px 5px 5px 10px;
	transition: background-color 0.1s;
}
.burnGrey.readonly {
	cursor: default;
}

.burnData {
	margin-right: 10px;
	font-family: $f-mono;
	font-size: 10px;
	padding: 3px 5px 1px;
	border-width: 0;
	height: 17px;
	background-color: #ddd;
	border-radius: 2px;
	box-shadow: none;
	&.atti {
		width: 25px;
		text-align: right;
		&:not(:last-child) {
			margin-right: 2px;
		}
	}
}
.burnData:nth-child(1) {
	width: 65px;
	margin-left: -5px;
}
.burnData:nth-child(2) {
	width: 44px;
}
.burnData:nth-child(3) {
	width: 30px;
}
.burnData:nth-child(4) {
	width: 28px;
}

button.burnRemove {
	appearance: none;
	color: $c-red;
	font-weight: 500;
	font-size: 14px;
	background-color: transparent;
	border: none;
	margin: 0 0 0 auto;
	cursor: pointer;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	padding: 0 0 2px 0;
	&:hover {
		background-color: $c-red;
		color: #fff;
	}
}

button.burnAdd {
	margin: 5px 0 0 0;
}
