form {
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 20px 0;
  div.field-row {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
    div.field {
      width: initial;
    }
  }
  div.field {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    z-index: 1;
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    label {
      font-size: 14px;
      color: #444;
      margin: 0 0 5px 0;
      position: relative;
      &.big {
        font-size: 18px;
        margin: 0 0 10px 0;
      }
    }
    p.instruction {
      font-size: 14px;
      margin: 0 0 5px 0;
    }
    p.null-field-value {
      color: #888;
    }
    label + p {
      line-height: 120%;
    }
    input, textarea {
      flex-shrink: 0;
      width: 100%;
      height: 36px;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #bbb;
      border-radius: 2px;
      outline: none;
      box-sizing: border-box;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
      position: relative;
      z-index: 1;
      &[type=file] {
        display: none;
      }
      &:not(:disabled) {
        &:hover {
          border-color: #888;
        }
        &:focus {
          box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
          border-color: $c-blue;
        }
      }
      &.error {
        border-color: $c-red;
        &:hover {
          border-color: darken($c-red, 15%);
        }
      }
    }
    input[type=text].mini {
      height: 32px;
      font-size: 14px;
      padding: 5px;
    }
    textarea {
      height: 100px;
      resize: vertical;
    }
    img {
      margin: 7px 0 0 0;
      max-width: 300px;
    }
    label + img {
      margin: 0;
    }
    div.portrait-upload {
      @include flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      div.portrait {
        @include portrait-box(50%);
        margin: 0 10px 0 0;
      }
      div.portrait-buttons {
        @include flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 1;
        width: 50%;
        button {
          &:not(:last-child) {
            margin: 0 0 5px 0;
          }
        }
      }
    }
    & > div.tooltip {
      top: 15px;
      margin-left: calc(50% + 10px);
      transform: translateX(-100%) translateY(-100%);
      z-index: 0;
    }
    input:focus + div.tooltip {
      transform: translateX(-100%) translateY(-100%) translateY(-10px);
      opacity: 1;
    }
  }
  div.field.error {
    input, textarea {
      border-color: $c-red;
      &:hover {
        border-color: darken($c-red, 15%);
      }
    }
  }
  div.field.required {
    & > label {
      &:after {
        content: '*';
        color: $c-red;
        position: relative;
        left: 2px;
      }
    }
  }
  div.field.read-only.error {
    & > label {
      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $c-red;
      }
    }
  }
  div.field.read-only.error.required {
    & > label {
      &:before {
        width: calc(100% - 6px);
      }
    }
  }
  div.field-row div.field {
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }
  }
  h3 {
    margin: 0 0 20px 0;
  }
  div.warning {
    display: none;
    color: $c-red;
    margin: 0 0 10px 0;
    line-height: 120%;
  }
  div.message {
    display: none;
    color: $c-green;
    margin: 0 0 10px 0;
    line-height: 120%;
  }
  div.buttons.on-top + div.warning {
    margin: 0 0 10px 0;
  }
  div.buttons {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 0 0 0;
    position: relative;
    z-index: 1;
    &.on-top {
      margin: 0 0 20px 0;
    }
    &:only-child {
      margin: 0;
    }
  }
  & > p {
    line-height: 120%;
  }
}
form.with-warning {
  div.warning {
    display: block;
  }
}
form.with-message {
  div.message {
    display: block;
  }
}
