main.legal {
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 60px 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  img {
    height: 120px;
    margin: 0 0 20px 0;
  }
  h1 {
    margin: 0 0 15px 0;
  }
  p.subtitle {
    font-size: 14px;
    margin: 0 0 40px 0;
    color: #aaa;
    span:nth-child(2) {
      font-weight: 500;
    }
  }
  section {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 700px;
    margin: 0 0 60px 0;
    h2 {
      align-self: stretch;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: left;
      padding: 0 0 10px 0;
      border-bottom: 1px solid #ddd;
    }
    p + h2,
    ul + h2 {
      margin-top: 20px;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    p + h3,
    ul + h3 {
      margin-top: 10px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 150%;
      margin: 0 0 10px 0;
    }
    ul {
      padding: 0 0 0 20px;
      margin: 0 0 10px 0;
      li {
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        &:before {
          content: '>';
          font-size: 12px;
          color: #888;
          position: relative;
          top: -2px;
          margin: 0 10px 0 0;
        }
      }
    }
  }
  footer {
    @include flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    margin: auto 0 0 0;
    ul {
      @include flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      li {
        font-size: 14px;
        &:not(:last-child) {
          margin: 0 20px 0 0;
        }
      }
    }
    p {
      font-size: 14px;
    }
  }
}
