section.modal {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding: 30px;
  pointer-events: none;
  transition: opacity $t-fast;
  div.blackout {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity $t-fast;
  }
  div.modal-panel {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 4px 4px 2px 2px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
    header.modal-panel {
      @include flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      min-height: 50px;
      padding: 0 20px;
      background-color: $c-blue;
      border-radius: 2px 2px 0 0;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
      color: #fff;
      h3 {
        color: #fff;
        padding: 15px 0 10px;
      }
      p {
        font-size: 18px;
        opacity: 0.8;
        &:not(.seamless) {
          margin: 0 0 0 10px;
        }
      }
    }
    div.modal-content {
      @include flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1;
      width: 100%;
      padding: 20px;
      p {
        line-height: 120%;
      }
    }
    footer.modal-panel {
      @include flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding: 20px;
      position: relative;
      z-index: 1;
      & > *:not(:last-child) {
        margin: 0 10px 0 0;
      }
    }
  }
}
section.modal.active {
  pointer-events: all;
  div.blackout {
    opacity: 1;
  }
}
