div.item-panel {
	@include flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	&.report {
		height: 17px;
	}
	&:last-child {
    margin-bottom: 0;
  }
}
div.item-panel.item-title {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
//
div.item-panel p {
  &.label {
    margin: 0 10px 0 0;
		font-family: $f-sans;
  	font-size: 12px;
  	color: #222;
  }
  &.value {
  	font-size: 10px;
  	font-family: $f-mono;
  	margin: 0 0 0 auto;
  	text-align: right;
  }
  &.unit {
    width: 43px;
  	margin: 0 0 0 5px;
  	font-size: 12px;
		font-weight: 300;
  	color: #aaa;
  }
}
div.item-panel.unitless p {
	&.value {
		margin: 0 19px 0 auto;
		font-family: $f-sans;
		font-size: 12px;
	}
}
div.item-panel.item-title p {
	&.label {
		margin: 0 0 4px 0;
	}
}
//
div.item-panel .input-control {
  &:not(button) {
	  margin-left: auto;
  }
  &:last-child {
  	margin-right: 50px;
  }
}
div.item-panel.item-title .input-control {
	&:last-child {
		margin: 0;
	}
}

div.item-panel input[type=text].input-control {
	width: 90px;
	font-family: $f-mono;
	font-size: 10px;
	padding: 5px;
	border-width: 0;
	text-align: right;
	height: 17px;
	position: relative;
	top: -1px;
	background-color: #eee;
	border-radius: 2px;
}
div.item-panel.item-title input[type=text].input-control {
	width: calc(100% - 20px);
	font-family: $f-sans;
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	height: 100%;
	padding: 5px 8px;
}

div.item-panel input[type=range] {
	width: 130px;
}

div.item-panel select.input-control {
	width: 90px;
	border: none;
	background-color: #eee;
	border-radius: 2px;
	cursor: pointer;
	font-family: $f-mono;
	font-size: 10px;
	direction: rtl;
}
div.item-panel select.input-control option {
	direction: rtl;
}

div.item-panel input[type="datetime-local"] {
	width: 164px;
	font-family: $f-mono;
	font-size: 10px;
	padding: 5px;
	border-width: 0;
	text-align: left;
	height: 17px;
	position: relative;
	top: -1px;
	background-color: #eee;
	border-radius: 2px;
	margin: 0 0 0 auto;
}

div.item-panel div.input-duration {
	@include flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-grow: 1;
	input {
		width: 40px;
		font-family: $f-mono;
		font-size: 10px;
		padding: 5px;
		border-width: 0;
		text-align: left;
		height: 17px;
		position: relative;
		top: -1px;
		background-color: #eee;
		border-radius: 2px;
		margin-left: 5px;
		&.duration-days {
			width: 45px;
		}
	}
	p.unit {
		&:not(:last-child) {
			width: 10px;
		}
	}
}
