div.Toastify__toast {
  border-radius: 2px;
}
div.Toastify__toast-body {
  padding: 0 0 0 15px;
  font-weight: 500;
  color: #fff;
}
div.Toastify__toast--success {
  background-color: $c-green;
}
div.Toastify__toast--error {
  background-color: $c-red;
}
button.Toastify__close-button {
  transition: none;
}
