$h-header: 50px;

$c-blue:   #007bd8;
$c-purple: #9349b1;
$c-red:    #d44646;
$c-green:  #4fa952;

$f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$f-mono: "SF Mono","Monaco","Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace;

$t-fast: 0.15s;
$t-medium: 0.3s;
$t-slow: 0.5s;

$tf-natural: cubic-bezier(0.77, 0, 0.175, 1);

$b-tablet: 960px;
$b-mobile: 640px;

$m-tablet: '(max-width: #{$b-tablet})';
$m-mobile: '(max-width: #{$b-mobile})';

$shadow-inset: inset 0 1px 5px 0 rgba(0,0,0,0.2);
$shadow-box: 0 2px 3px 0 rgba(0,0,0,0.3);
$shadow-ingot: 0px 1px 4px rgba(0,0,0,0.2);

@mixin flex {
  display: flex;
  flex-shrink: 0;
}

@mixin grid($n, $m) {
  width: calc((100% - ((#{$n} - 1) * #{$m})) / #{$n});
  margin-right: $m;
  margin-bottom: $m;
  &:nth-child(#{$n}n+#{$n}) {
    margin-right: 0;
  }
  &:nth-last-child(-n+#{$n}) {
    margin-bottom: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

@mixin button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  position: relative;
  color: #222;
  text-decoration: none;
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  &:hover {
    background-color: #eee;
    text-decoration: none;
    &:active {
      box-shadow: $shadow-inset;
    }
  }
  &:focus:after {
    display: block;
  }
}

@mixin button-round {
  @include button;
  border-radius: 50%;
  &:after {
    border-radius: 50%;
  }
}

@mixin h1 {
  font-weight: 700;
  font-size: 36px;
  @media #{$m-mobile} {
    font-size: 28px;
  }
}

@mixin h2 {
  font-weight: 500;
  font-size: 24px;
}

@mixin h3 {
  font-weight: 500;
  font-size: 18px;
}

@mixin portrait-box($x) {
  flex-shrink: 0;
  width: $x;
  padding-bottom: $x;
}
