div.tooltip {
  position: absolute;
  background-color: $c-blue;
  padding: 10px 15px 12px;
  border-radius: 2px;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: transform $t-medium, opacity $t-medium;
  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 130%;
    white-space: nowrap;
    margin: 0;
    span {
      color: #fff;
    }
  }
  div.tooltip-arrow {
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
  }
}
div.tooltip.visible {
  opacity: 1;
}

div.tooltip.position-top {
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  div.tooltip-arrow {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid $c-blue;
  }
}
div.tooltip.position-top.visible {
  transform: translateX(-50%) translateY(-100%) translateY(-10px);
}

div.tooltip.position-right {
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
  div.tooltip-arrow {
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-right: 12px solid $c-blue;
  }
}
div.tooltip.position-right.visible {
  transform: translateX(100%) translateX(10px) translateY(-50%);
}

div.tooltip.position-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  div.tooltip-arrow {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $c-blue;
  }
}
div.tooltip.position-bottom.visible {
  transform: translateX(-50%) translateY(100%) translateY(10px);
}

div.tooltip.position-left {
  top: 50%;
  left: 0;
  transform: translateX(-100%) translateY(-50%);
  div.tooltip-arrow {
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 12px solid $c-blue;
  }
}
div.tooltip.position-left.visible {
  transform: translateX(-100%) translateX(-10px) translateY(-50%);
}

div.tooltip.error {
  background-color: $c-red;
  div.tooltip-arrow {
    border-top-color: $c-red;
  }
}

.disabled div.tooltip {
  visibility: hidden;
}
