div.plotbox {
	@include flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	z-index: 1;
	div.playback {
		@include flex;
		width: 100%;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		input[type=range].input-playback {
			display: flex;
			flex: 1;
			margin: 0 10px;
		}
		button.input-playback {
			width: 30px;
			flex-shrink: 0;
		}
		& > * {
			margin: 0 2px;
		  &:first-child {
		    margin: 0 2px 0 0;
		  }
		  &:last-child {
		    margin: 0 0 0 2px;
		  }
		}
	}
	div.spinner-wrapper {
		@include flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 35px;
		background-color: rgba(0,0,0,0);
		&.is-rendering {
			background-color: rgba(0,0,0,0.6);
		}
	}
}

//
div.plotbox svg {
  margin: 0 0 10px 0;
	border-radius: 2px;
	text {
  	font-family: $f-mono;
  	font-size: 10px;
		user-select: none;
  }
}
div.sandbox div.plotbox svg {
	cursor: move;
}
div.solver div.plotbox svg .subdued {
  opacity: 0.12;
}

//

div.legend-entry {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
	padding: 5px 0;
}
div.legend-entry:hover {
	background-color: #eee;
}

div.legend-entry svg {
	margin: 0 10px 0 0;
}

div.legend-entry p {
	font-family: Monaco;
  font-size: 11px;
  color: #222;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}
div.legend-entry p.legend-entry-value {
	margin: 0 0 0 auto;
}
