div.intro-tab {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  font-size: 14px;
  span, p, li, strong, a:not(.btn) {
    color: #fff;
    line-height: 150%;
  }
  div.tab-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%) translateY(-7px);
    transition: transform $t-slow $tf-natural;
    box-shadow: $shadow-box;
    pointer-events: all;
    div.tabbling {
      background-color: $c-blue;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%) translateY(-100%);
      transition: transform $t-slow $tf-natural;
      padding: 25px 20px 18px;
      box-shadow: $shadow-box;
      border-radius: 2px;
      span {
        color: inherit;
      }
      & > *:not(:last-child) {
        margin: 0 10px 0 0;
      }
    }
    div.tab-body {
      @include flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      background-color: $c-blue;
      color: #fff;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 60px;
      ul {
        list-style: disc;
        padding: 0 0 0 17px;
      }
      div.tab-column {
        @include flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &.tab-column-logo {
          justify-content: center;
          width: 60px;
        }
        &:not(:last-child) {
          margin: 0 40px 0 0;
        }
      }
      div.logo-pedastal {
        @include flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50%;
        img {
          height: 60px;
          flex-shrink: 0;
        }
      }
      div.example-list {
        @include flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        margin: 5px 0 0 0;
        width: 100%;
        max-width: 260px;
        & > *:not(:last-child) {
          margin: 0 10px 10px 0;
        }
      }
      button.close-intro-tab {
        height: 30px;
        width: 30px;
        padding: 0 0 3px 0;
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}

div.intro-tab.is-peeking {
  div.tab-wrapper {
    div.tabbling {
      transform: translateX(-50%) translateY(0);
    }
  }
}

div.intro-tab.is-visible {
  div.tab-wrapper {
    transform: translateY(0);
    div.tabbling {
      transform: translateX(-50%) translateY(-100%);
    }
  }
}
